.strokeme
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.textbg
{
	text-shadow: 1px 1px 1px #000;
  /* background-color:black;
  z-index:0;
  opacity:0.5; */
}